@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
/* link to icons https://www.figma.com/file/9stKdhidiY2th3C8gJ8zwI/MUI-for-Figma-v5.9.0-(Community)-(Community)?node-id=5405%3A69553 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro';
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.header {
    height: 40%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    background-color: #131415;

}

.headshot {
    display: flex;
    margin: 10px;
}

.bio {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #131415;
}

#user-name{
    display: flex;
    justify-content: center;
}

#user-bio{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    margin-top: 30px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
    background-color:#131415;
    height: 10%;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    background-color: #757575;
    border-radius: 25px;
    cursor: pointer;
    padding: 8px;
}

/* Icon Buttons Need psudo classes */

.slider {
    display: flex;
    height: 50%;
    max-width: 100%;
    border-style: double;
    border-color: gray;
    background-color: green;
}

/* Icon Buttons Need psudo classes */
.slider-button {
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    width: 50px;
    width: 50px;
}


/* Right Slider  Why does this overide right button container*/
.right-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#131415;
    width: 65%;
    height: 100%;
}

.right-slider-button-container {
    display: flex;
    justify-content: flex-end;
    /* padding: 12px; */
    height: 12%;
    background-color: #131415;
}

.right-slider-content {
    /* background-color: brown; */
    height: 100%;
    width: 100%;
}

.right-slider-content>div {
    height: 100%;
    width: 100%;
}


/* Left Slider */
.left-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-right-style: solid;
}

.left-slider-button-container {
    display: flex;
    justify-content: flex-end;
    /* width: 10%; */
    height: 12%;
    /* padding: 12px; */
    background-color: #131415;
}

.left-slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.left-slider-content>div {
    height: 100%;
    width: 100%;
}

h1, p {
    color: white;
}